@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}
.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

.pagination_head {
  @apply flex items-center justify-center w-10 h-10 text-gray-400 cursor-pointer ring-1 ring-inset ring-gray-400 dark:ring-gray-300 focus:z-20 focus:outline-offset-0 text-dark dark:text-light hover:bg-light hover:dark:bg-dark;
}

.pagination_body {
  @apply flex items-center justify-center w-10 h-10 text-sm font-semibold ring-1 ring-inset ring-gray-400 dark:ring-gray-300 focus:z-20 focus:outline-offset-0 text-dark dark:text-light hover:bg-light hover:dark:bg-dark;
}
.rdrMonth {
  width: 100% !important;
}

.rdrCalendarWrapper {
  font-size: 16px !important;
  width: 100% !important;
}
